/* Navigatin Bar */
body {
    margin: 0;
}
nav {
    height: 60px;
    display: flex;
    padding: 9px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 16px rgba(128, 128, 128, 0.382);
    z-index: 1;
    position: relative;
}

nav button {
    border: none;
    background-color: white;
    color: black;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.87rem;
    cursor: pointer;
    margin: 3px;
    width: max-content;
    white-space: nowrap;
}

nav form {
    display: flex;
    width: 100%;
    margin-right: 90px;
    position: relative;
    right: 10px;
    margin: auto;
}

nav form input {
    border: 0.1em solid black;
    padding: 0px 2.4rem 0px 2.4rem;
    display: flex;
    align-items: stretch;
    border-radius: 30px;
    width: 100%;
    height: 47px;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0.029);
}

nav form input:focus {
    outline: none;
}

nav form button {
    border: none;
    position: relative;
    background: rgba(76, 175, 80, 0);
    left: 35px;
}


.menu_icon{
    display: none;
}
.logo {
    border: none;
    height: 2.1rem;
    background-color: white;
    position: relative;
    top: 4px;
}

.sign_up {
    background-color: black;
    color: white;
    font-weight: 900;
    height: 40px;
    width: max-content;
    padding: 0px 15px 0px 15px;
}

.log_in {
    border: 1px solid black;
    font-weight: 900;
    height: 40px;
    width: max-content;
    padding: 0px 20px 0px 20px;
}

.cart {
    padding: 11px 14px;
    height: max-content;
}

.globe {
    border: 1px solid black;
    margin-right: 8px;
    padding: 11px 14px;
    height: 40px;
}

.page {
    width: 90%;
    margin: auto;
}

/* Header  */

header {
    z-index: -1;
    display: flex;
}
header div {
    height: 400px;
    width: 83rem;
    background-image: url(assets/alarm_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
header div div {
    border: none;
    font-size: 19px;
    height: 42%;
    width: 29%;
    min-height: 42%;
    min-width: 337px;
    display: inline-block;
    background-image: none;
    background-color: white;
    padding: 0.1rem 1.3rem 2.3rem 1.3rem;
    position: relative;
    top: 15%;
    left: 5%;
    box-shadow: 1px 1px 19px rgba(128, 128, 128, 0.31);
    line-height: 29px;
}

@media (max-width: 1300px) {
    .udemy_business {
        display: none;
    }
}

@media (max-width: 950px) {
    .udemy_teach {
        display: none;
    }
}

@media (max-width: 833px) {
    .cat {
        display: none;
    }
}

@media (max-width: 692px) {
    .cart, nav form, .sign_up, .log_in,.globe {
        display: none;
    }
    .menu_icon{
        display: block;
        font-size: 25px;
    }
    nav {
        justify-content: space-between;
    }
}